In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
# BASE_PATH = '/Workspace/Users/marcodaniel.ml@hotmail.com/ifood-case'
BASE_PATH = 'D:/Downloads/IFood/ifood-case/'
DATA_RAW_PATH = BASE_PATH + '/data/raw/'

# offers.json

In [3]:
df_offers = pd.read_json(DATA_RAW_PATH + 'offers.json')
df_offers

,channels,min_value,duration,id,offer_type,discount_value
0,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10
1,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10
2,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0
3,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5
4,"[web, email]",20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,discount,5
5,"[web, email, mobile, social]",7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,discount,3
6,"[web, email, mobile, social]",10,10,fafdcd668e3743c1bb461111dcafc2a4,discount,2
7,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0
8,"[web, email, mobile, social]",5,5,f19421c1d4aa40978ebb69ca19b0e20d,bogo,5
9,"[web, email, mobile]",10,7,2906b810c7d4411798c6938adc9daaa5,discount,2

## channels

In [4]:
df_channels = df_offers.explode('channels')
df_channels['channels'].value_counts()

channels
email     10
mobile     9
web        8
social     6
Name: count, dtype: int64

In [7]:
df_channels.groupby('offer_type')['channels'].value_counts()

offer_type     channels
bogo           email       4
               mobile      4
               social      3
               web         3
discount       email       4
               web         4
               mobile      3
               social      2
informational  email       2
               mobile      2
               social      1
               web         1
Name: count, dtype: int64

## min_value

In [8]:
df_offers['min_value'].describe()

count    10.000000
mean      7.700000
std       5.831905
min       0.000000
25%       5.000000
50%       8.500000
75%      10.000000
max      20.000000
Name: min_value, dtype: float64

In [9]:
df_offers.groupby('offer_type')['min_value'].describe()

               count   mean       std  min   25%   50%   75%   max
offer_type
bogo             4.0   7.50  2.886751  5.0  5.00   7.5  10.0  10.0
discount         4.0  11.75  5.678908  7.0  9.25  10.0  12.5  20.0
informational    2.0   0.00  0.000000  0.0  0.00   0.0   0.0   0.0

## duration

In [8]:
df_offers['duration'].describe()

count    10.000000
mean      6.500000
std       2.321398
min       3.000000
25%       5.000000
50%       7.000000
75%       7.000000
max      10.000000
Name: duration, dtype: float64

In [10]:
df_offers.groupby('offer_type')['duration'].describe()

               count  mean       std  min   25%  50%    75%   max
offer_type
bogo             4.0   6.0  1.154701  5.0  5.00  6.0   7.00   7.0
discount         4.0   8.5  1.732051  7.0  7.00  8.5  10.00  10.0
informational    2.0   3.5  0.707107  3.0  3.25  3.5   3.75   4.0

## id

In [9]:
df_offers['id'] = df_offers['id'].str.strip()

In [10]:
df_offers[df_offers['id'].isnull()]

Empty DataFrame
Columns: [channels, min_value, duration, id, offer_type, discount_value]
Index: []

In [11]:
df_offers[df_offers['id'] == '']

Empty DataFrame
Columns: [channels, min_value, duration, id, offer_type, discount_value]
Index: []

## offer_type

In [12]:
df_offers['offer_type'].value_counts()

offer_type
bogo             4
discount         4
informational    2
Name: count, dtype: int64

## discount_value

In [13]:
df_offers['discount_value'].describe()

count    10.000000
mean      4.200000
std       3.583915
min       0.000000
25%       2.000000
50%       4.000000
75%       5.000000
max      10.000000
Name: discount_value, dtype: float64

In [11]:
df_offers.groupby('offer_type')['discount_value'].describe()

               count  mean       std  min  25%  50%   75%   max
offer_type
bogo             4.0   7.5  2.886751  5.0  5.0  7.5  10.0  10.0
discount         4.0   3.0  1.414214  2.0  2.0  2.5   3.5   5.0
informational    2.0   0.0  0.000000  0.0  0.0  0.0   0.0   0.0